extends baseEmail

block title 
  | Uusi aika
block content
  table(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr
      td(align="center")
        table(border="0" cellpadding="0" cellspacing="0" width="600")
          tr
            td
              | Asiakas on varannut ajan
              br
              | Päivä: #{date}
              br
              | Aika: #{time}
              br
              | Palvelu: #{service}
              br
              br
              strong Asiakkaan tiedot
              br
              | Nimi: #{user}
              br
              | Puhelin: #{phone}
              br
              | Sähköposti: #{email}
              br
              | Peruutus koodi on: #{id}
              br
              a(href="https://example.com") Klikkaa peruuttamaan
              br
              br
              | Kiitos.