extends baseEmail

block title
  | Aika peruttu
  
block content
  table(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr
      td(align="center")
        table(border="0" cellpadding="0" cellspacing="0" width="600")
          tr
            td
              | Aika peruutettu
              br
              | Päivä: #{date}
              br
              | Aika: #{time}
              br
              | Palvelu: #{service}
              br
              | Syy: #{reason}
              br
              br
              strong Asiakkaan tiedot
              br
              | Nimi: #{name}
              br
              | Puhelin: #{phone}
              br
              | Sähköposti: #{email}
              br
